body{background-color:black;}
body {
    font-family: 'Poppins', sans-serif;
       background-color: black;
       text-align:center;
       text-color:pink;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    margin-bottom:0px;
    border-bottom: 10px solid white;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: 'Sen', sans-serif;
}
.logo {
     font-style: 30px;
     color: #910142;
     cursor: default;
     transition: 1s ease;
      margin-right: 10px;
 }

 .logo:hover {
     color: #b70153;
 }

.logo-container {
    display: flex;
    align-items: center;
}
.big-button {
    font-size: 20px;
    padding: 10px 20px;
    margin-right:0px;
}
.nav-buttons {
            display: flex;
            justify-content: space-around;
            padding: 10px;
            border-radius: 5px;
        }

        .nav-buttons button {
            padding: 5px 10px;
            border: none;
            background-color: red;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
.nav-buttons button{
            margin-right: 20px;
        }
        .nav-buttons button:hover {
            background-color: purple;
        }
.nav-buttons button:hover {
    color: yellow;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.date-button {
    background-color: #ccc;
    color: blue;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size:25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.date-button:hover {
    background-color: #999;
}


.screens{
    margin: 5px;
    color: #fff;
     color: orange;
    text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
font-size:40px;
}



 .time-btn {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
 }

 .screen-time {
     background-color: white;
     border: none;
     color: brown;
     padding: 10px 22px;
     border: 1px solid var(--theme-screen-time-border);
     text-align: center;
     text-decoration: none;
     font-size: 25px;
     border-radius: 5px;
     margin-right: 20px;
 }



 .screen-time:hover {
   background-color: #df0e62;
   color: white;
 }

 .flickity-viewport {
   background-color: var(--theme-bg);
 }
.new-button {
    position: fixed;
     color: green;
    bottom: 40px;
    right: 20px;
    width: 150px;
        height: 40px;
        font-size:20px;

}
.new-button:hover {
   background-color: blue;
   color: red;
 }
