body{background-color:black;}
body {
    font-family: 'Arial', sans-serif;
    background-color: #545454; /* Dark background */
    color: #e0e0e0; /* Light text color */
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    text-align: center;
}

.navbar {
    background-color: #000; /* Black background for the navbar */
    color: #fff;
    padding: 5px;
    text-align: left;
}

.logo {
    color: #ff1493; /* Pink color for the MOVIELANE text */
    font-size: 32px;
    padding-left: 20px;
}

.logo-link {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Keeps the text color the same as its container */
}

.logo-link:hover, .logo-link:focus {
    text-decoration: none; /* Optional: Ensures no underline appears on hover/focus */
    color: inherit; /* Optional: Keeps color consistent on hover/focus */
}


.screens {
    text-align: center;
    padding: 10px 10px;  
    font-size: 40px;
    color: #fff;
}

.screens:first-child {
    padding-bottom: 10px;  
}

.screens:last-child {
    padding-top: 10px;  
}


.date-button, .screen-time {
    background-color: #ff1493; /* Darker background for buttons */
    font-size: 30px;
    border: 1px solid #444; /* Subtle border color */
    color: #fff; /* White text color */
    padding: 12px 24px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.date-button:hover, .screen-time:hover {
    background-color: #2f86e9; /* Lighter grey for hover */
}

.selected {
    background-color: #007bff; /* Standard blue for selected state */
    color: white;
}

.new-button {
    background-color: #007bff;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto;
    font-size: 20px;
}

.new-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

