
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;

  }
  
  .nav {
    display: flex;
            align-items: center;
            
            padding: 10px 20px; 
            background-color: black; 
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        }
       
      
.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color:red; 
}

  #cards {
  display: flex;
  justify-content: center;
  }

  #profile {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

.container {
    width: 60%;
    padding: 16px;
    background-color: white;
    
}

.checkoutCard {
  text-align: left;
}

.checkout {
    text-align: center;
    width: 60%;
    padding: 16px;
    background-color: white;
    margin: 0 auto;
}

/* .card {
    width: 40%;
} */

#creAcc {
    margin: auto;
    width: 70%;
    padding: 16px;
}  

#confAcc {
  margin: auto;
  width: 25%;
  padding: 16px;
}

.login {
    margin: auto;
    width: 40%;
    padding: 16px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

input[type="button"] {
    background-color: #b013b0d6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="button"]:hover {
    background-color: #830a83d6;
}

.signin {
    text-align: center;
    margin-top: 20px;
}


body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}


#bookingDetails {
  margin-top: 20px;
  text-align: center;
}

#bookingDetails h2 {
  margin-bottom: 10px;
}

#bookingDetails h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

#bookingDetails p {
  margin-bottom: 5px;
}

#bookingDetails a {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#bookingDetails a:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .container {
      max-width: 90%;
  }
}

    #submitLogin {
        background-color: #4CAF50;
        border: none; 
        color: white; 
        padding: 10px 20px;
        text-align: center; 
        text-decoration: none; 
        display: inline-block; 
        font-size: 16px; 
        margin: 4px 2px; 
        cursor: pointer; 
        border-radius: 5px; 
    }

    #submitLogin:hover {
        background-color: #45a049;
    }


  
  #checkoutButton {
    background-color: #b013b0d6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
  }
